:root {
    --color1: #3b71ca;
    --color2: #294e8a;
    --color3: #002058;
  }
  
  
  .app-sidebar__toggle:hover,
  .app-sidebar__toggle:focus {
    background-color: var(--color3);
  }
  
  .color1 {
    background-color: var(--color1);
  }
  
  .color2 {
    background-color: var(--color2);
  }
  
  .color3 {
    background-color: var(--color3);
  }
  
  .btn-primary {
    background-color: var(--color2);
  }
  
  .btn-primary:hover {
  
    background-color: var(--color1);
  }