.app-sidebar__user-avatar{
    width: 48px;
    height: 45px;
    background-color: gray;
    padding: 6px;
}

.icon-hover:hover {
    border-color: #3b71ca !important;
    background-color: white !important;
  }
  
  .icon-hover:hover i {
    color: #3b71ca !important;
  }